html {
    font-size: 100%
}

body {
    margin: 0
}

#wrapper {
    width: 1200px;
    margin: auto
}

#menue {
    list-style: none;
    margin: 0;
    padding: 0
} 

#leftmenue {
    list-style: none;
    margin-left: 0;
    padding: 0
}

#menue li {
    float: left;
    border-right: 1px dotted #333
}
#menue li a, #leftmenue li a {
    padding: 10px;
    display: block;
    background-color:rgb(112, 32, 32);
    color:#fff;
    text-decoration: none
}

#menue li a:hover, #leftmenue li a:hover {
    background-color: rgb(207, 157, 157);
    color: rgb(112, 32, 32)
}

#left {
     width: 250px
}

#leftmenue li {
    border-bottom: 1px dotted #333
}

#menue li:last-child, #leftmenue li:last-child {
    border: none
}

#right {    
    margin-top: -300px;
    float: right;
    width: 940px
}

#footer {
    width: 100%;
    height: 100px;
    background-color: rgb(112, 32, 32);
    clear: both;
    position: relative
}

#copyright {
    position: absolute;
    text-align: center;
    color: #fff;
    font-size: .8em;
    width: 100%;
    left: 0;
    bottom: 10px
}

#impressum {
    list-style: none;
    margin: 0;
    padding: 5px 0 0 10px
}

#impressum li a {
    color: #fff;
    text-decoration: none;
}
a.active {
    background-color: white !important;
    color: rgb(112, 32, 32) !important;
}

a.activebottom {
    color: rgb(112, 32, 32) !important
}

#zahlen{
    list-style-type: upper-roman;
}
table.products {
    width: 100%;
    border-collapse:collapse;

}
table.products th {
    text-align: left;
    background-color: rgb(112, 32, 32);
    color:#fff;
    padding:10px;
    
}
table.products tr.row2{
    background-color: rgb(207, 157, 157);
}
a.btn{
    padding: 20px; 
    border-radius: 30px;
    text-align: center;
    font-weight: bold;
    margin-top: 60px;
    display: inline-block;
    text-decoration: none;
    width:200px;
    margin-left:950px;
    margin-bottom: 15px;
    position:relative;
  
}
.btn-rot{
    background-color: rgb(112, 32, 32);
    color: white;
    position: absolute;
}
a.btn:hover{
    background-color: rgb(207, 157, 157);
    color: rgb(112, 32, 32);
}
.button{
    background-color: rgb(112, 32, 32);
    color: white;
    position: relative;
    padding:15px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;   
}
.button:hover{
    background-color: rgb(207, 157, 157);
    color: rgb(112, 32, 32);
}
.form-row{
    padding: 5px;
}
.form-label{
    float:left;
    width: 100px;   
}
  .impressum{
    padding-top: 100px;
    background-color: rgb(207, 157, 157);
    margin: auto;
}
.datenschutz{
    padding-top: 100px;
    background-color: rgb(207, 157, 157);
    margin: auto;    
}
table{
    width: 100%;
    margin-top: 100px;
}